<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EquationAPI</title>
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
</head>
<body>
    <main class="main">
        <nav class="main__nav nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/"  class="nav__link">Решение алгебраических уравнений</a>
                </li>
                <li class="nav__item">
                    <a href="/vector-space" class="nav__link nav__link--active">Проверка векторного пространства</a>
                </li>
            </ul>
        </nav>
        <h1 class="main__title">Проверка векторного пространства</h1>
        <section class="main__section vectors">
            <p class="vectors__desc">Введите значения вектора через запятую</p>
            <div class="vectors__inputs">
                <ol class="vectors__list">
                    <li class="vectors__item">
                        <input type="text" value="1,2,5,6,7" name="vector" class="vectors__input">
                    </li>
                </ol>

            </div>
            <div class="vectors__btns">
                <button class="vectors__add-btn">Добавить вектор</button>
                <button class="vectors__send-btn">Выполнить проверку</button>
            </div>
            <div class="vectors__results">

            </div>
        </section>
    </main>
    <script src="http://localhost:3000/js/main.js"></script>
</body>
</html>